<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
  
  <nb-card-header>
    منتجات باقات التوفير
    <a style="float: left;" alt='اضافة منتج الى باقات التوفير' class="btn btn-success btn-icon" href='/pages/offer/addoffer' target="blank">
      <i class="nb-plus"></i>
    </a>
  </nb-card-header>
  <nb-card-body>
    <div class="col-md-3" style="padding: 0;">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ابحث باسم المنتج">
          </mat-form-field>      
    </div>
 
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef >الصورة</th>
        <td mat-cell *matCellDef="let element">
            <img width='70px' height='70px' style="border-radius: 50%;" src="../../../../../assets/uploads/{{element.product_id.image}}" /></td>
      </ng-container>
    
   
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef  >اسم المنتج</th>
        <td mat-cell *matCellDef="let element"> {{element.product_id.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="suuplier_name">
        <th mat-header-cell *matHeaderCellDef  >اسم الهايبر</th>
        <td mat-cell *matCellDef="let element"> {{element.supplier_id.name}} </td>
      </ng-container>
    

      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef>الكمية </th>
        <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
      </ng-container>
    
      <ng-container matColumnDef="new_price">
        <th mat-header-cell *matHeaderCellDef>السعر </th>
        <td mat-cell *matCellDef="let element"> {{element.new_price}} </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <button (click)="deleteRow(element._id,i)">
                    <i  class="nb-trash"></i>
                </button>
                <button (click)="EditRow(element._id)">
                    <i  class="nb-edit"></i>
                </button>
             </td>
          </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
        [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
    </mat-paginator>

  </nb-card-body>
</nb-card>