<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
  <nb-card-header>
    الهايبرات
    <a style="float: left;" alt='اضافة منتج' class="btn btn-success btn-icon" href='/pages/product/addsupplierproducts'
      target="blank">
      <i class="nb-plus"></i>
    </a>
  </nb-card-header>
  <nb-card-body>
    <form #form="ngForm">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4">اسم الهايبر</label>
          <ng-select 
            [items]="suppliers" [virtualScroll]="true"
            bindLabel="name" 
            bindValue="ـid" 
            placeholder="اختر الهايبر" 
            (change)="SupplierChange($event)"></ng-select>
        </div>
      </div>
      <button [disabled]="!form.valid && !isEdit" class="btn btn-success btn-round btn-demo" (click)="Search()">بحث</button>
    </form>
  </nb-card-body>
</nb-card>

<!-- <nb-card>
  <nb-card-header>
    منتجات الهايبر
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card> -->


<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
  <nb-card-header>
    منتجات الهايبر
  </nb-card-header>
  <nb-card-body>
    <div class="col-md-3" style="padding: 0;">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ابحث باسم المنتج">
          </mat-form-field>      
    </div>
 
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef >الصورة</th>
        <td mat-cell *matCellDef="let element">
            <img width='70px' height='70px' style="border-radius: 50%;" src="../../../../../assets/uploads/{{element.product_id.image}}" /></td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef  >الاسم</th>
        <td mat-cell *matCellDef="let element"> {{element.product_id.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef>الكمية </th>
        <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
      </ng-container>
    
      <ng-container matColumnDef="prices">
          <th mat-header-cell *matHeaderCellDef>الأسعار </th>
          <td mat-cell *matCellDef="let element">
            <span *ngFor="let c of element.prices">
              {{c.buy_unit_name}}: {{c.price}} ريال
            </span>
           </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <button (click)="deleteRow(element._id,i)">
                    <i  class="nb-trash"></i>
                </button>
                <button (click)="EditRow(element._id)">
                    <i  class="nb-edit"></i>
                </button>
             </td>
          </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
        [pageIndex]="currentPage" (page)="handlePage($event)">
    </mat-paginator>

  </nb-card-body>
</nb-card>