<div class="row">
  <div class="col-lg-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
      <nb-card-header>ايداع دفعة متبرع </nb-card-header>
      <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>
        <form #form="ngForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>اسم المتبرع </label>
              <div class="input-group">
                <ng-select name="xx" class="form-control" [dropdownPosition]="'bottom'" [items]="admins"
                  bindLabel="full_name" bindValue="_id" placeholder="اختر المتبرع " [(ngModel)]="selected_category_id"
                  #selectedcategoryid="ngModel" (change)="AdminChanging($event)" required>
                </ng-select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>المبلغ</label>
              <div class="input-group">
                <input type="number" min="0" placeholder="الملبغ" class="form-control" #price="ngModel"
                  [(ngModel)]="payment.ammount" name="ammount" id="ammount" required />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>ملاحظات</label>
            <div class="input-group">
              <textarea rows="5" placeholder="ملاحظات" class="form-control" #description="ngModel"
                [(ngModel)]="payment.description" name="description" id="description"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div>
              <button [disabled]="!form.valid" class="btn btn-success btn-round btn-demo" (click)="Save(payment);">حفظ
                المعلومات
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>