<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <div class="col-12" style="text-align: center;">
          <img src="../../assets/images/logo.png" class="title" style="width: 180px;">
          <br>
          <h2 class="">التواصل والدعم الفني</h2>    
          <br>

          <ul>
            <li><strong>رقم الهاتف: </strong> +966 50 524 7771</li>
            <li><strong>الواتساب: </strong> +966 50 524 7771</li>
            <li><strong>البريد الالكتروني: </strong>info@algoshayan.com</li>
          </ul>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>