<nb-card>
  <nb-card-header>
      اضافة او تعديل الحسابات البنكية 
  </nb-card-header>
  <nb-card-body>
      <form #form="ngForm">
          <div class="form-group">
              <label>اسم الحساب</label>
              <div class="input-group">
                  <input type="text" #title="ngModel" [(ngModel)]="staticpage.title" placeholder="اسم الحساب"
                      [ngClass]="(title.invalid && (title.dirty || title.touched))?'form-control form-control-danger':'form-control'"
                      name="title" id="title" required />
              </div>
          </div>
          <div class="form-group">
              <label>الحساب</label>
              <input type="text" #content="ngModel" [(ngModel)]="staticpage.content" placeholder="الحساب"
              [ngClass]="(content.invalid && (content.dirty || content.touched))?'form-control form-control-danger':'form-control'"
              name="content" id="content" required />
          </div>
          <div>
              <button [disabled]="!form.valid" class="btn btn-success btn-round btn-demo"
                  (click)="Save(staticpage)">حفظ
                  المعلومات</button>
          </div>
      </form>
  </nb-card-body>
</nb-card>


<nb-card>
  <nb-card-header>
      ادارة الحسابات البنكية 
  </nb-card-header>
  <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)"
          (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>