<nb-card size="large">
  <nb-tabset fullWidth (changeTab)="changeTab($event)">
    <nb-tab tabTitle="الوارد">
      <div class="chart-container">
        <ngx-charts-bar-vertical [scheme]="colorScheme" [schemeType]="schemeType" [results]="single" [xAxis]="true"
          [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'الشهر'"
          [yAxisLabel]="'المبلغ'" (select)="select($event)">
        </ngx-charts-bar-vertical>
      </div>
    </nb-tab>
    <nb-tab tabTitle="الصادر" [lazyLoad]="true">
      <div class="chart-container">
        <ngx-charts-bar-vertical [scheme]="colorScheme2" [schemeType]="schemeType2" [results]="single2" [xAxis]="true"
          [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'الشهر'"
          [yAxisLabel]="'المبلغ'" (select)="select($event)">
        </ngx-charts-bar-vertical>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>