<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
  <nb-card-header>
    ادارة طلبات المستفيدين
  </nb-card-header>
  <nb-card-body>

    <toaster-container [toasterconfig]="config"></toaster-container>
    <input type='text' #search style='padding:8px;margin:15px auto;width:50%;'
      placeholder='البحث يالاسم او رقم الجوال او رقم الهوية' />
    <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="updateFilter(search.value)">بحث
    </button>

    <ngx-datatable #myTable class="material custom-ngxtable expandable" [rows]="rows" (page)='setPage($event)'
      [columnMode]="'force'" [sortType]="'multi'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60"
      [loadingIndicator]="isLoading" [scrollbarH]="false" [scrollbarV]="false" [virtualization]="false"
      [reorderable]="true" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
      [limit]="page.size" (page)='setPage($event)'>

      <ngx-datatable-column [width]="130" [cellClass]="'tbl-overflow'" prop="user_id.full_name" name="الاسم">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{value}} </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="80" [cellClass]="'tbl-overflow'" prop="user_id.phone_number" name="رقم الجوال">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{value}} </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="60" prop="createAt" name="تاريخ الطلب">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{value | date:'hh:mm dd-MM-yyyy'}} </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="40" prop="ammount" name="القيمة">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{value}} </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="80" prop="type.name" name="الغرض">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{value}} </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="40" prop="status" name="الحالة">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="bg-gray" [ngStyle]="{'color':value == 1 ? 'black' : 'black' }" *ngIf="value == 1">قيد
            المراجعة</span>
          <span class="bg-gray" [ngStyle]="{'color':value == 2 ? 'green' : 'green' }" *ngIf="value == 2"> موافقة </span>
          <span class="bg-gray" [ngStyle]="{'color':value == 3 ? 'red' : 'red' }" *ngIf="value == 3"> رفض </span>
          <span class="bg-gray" [ngStyle]="{'color':value == 4 ? 'orange' : 'orange' }" *ngIf="value == 4"> الغاء
            المستفيد </span>
          <span class="bg-gray" [ngStyle]="{'color':value == 5 ? 'brown' : 'brown' }" *ngIf="value == 5"> انتهى </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="80" class="overflow-no" name="الاجراءات">
        <ng-template style="overflow: visible !important" let-value="value" let-row="row" ngx-datatable-cell-template>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
              المزيد <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem">
                <button md-icon-button class="dropdown-item" (click)="openModal(contentCategory,value)">
                  التفاصيل
                </button>
              </li>
              <li>
                <button md-icon-button class="dropdown-item" (click)="Agreement(value,2)">
                  موافق
                </button>
              </li>
              <li>
                <button md-icon-button class="dropdown-item" (click)="openModal2(contentStatus,value)">
                  رفض
                </button>
              </li>
              <!-- <li role="menuitem">
                    <a class="dropdown-item" routerLink="/pages/order/customerMap/{{value._id}}">موقع
                      الزبون</a>
                  </li> -->
            </ul>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <ng-template #contentCategory let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">تفاصيل المستفيد والطلب </h4>
        <button type="button" class="close" aria-label="Close" (click)="close(contentCategory)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #form="ngForm">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="txt1" for="inputState">الاسم</label>
              <label class="txt2" name="full_name" #full_name id="full_name">{{postData?.user_id?.full_name}}</label>
            </div>
            <div class="form-group col-md-4">
              <label class="txt1" for="inputState">الجنس</label>
              <label class="txt2" name="gender" #gender id="gender">{{postData?.user_id?.gender}}</label>
            </div>
            <div class="form-group col-md-4">
              <label class="txt1" for="inputState">رقم الجوال</label>
              <label class="txt2" name="coupon" id="coupon">{{postData?.user_id?.phone_number}}</label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">رقم الهوية</label>
              <label class="txt2" name="Id_no" #Id_no id="Id_no">{{postData?.user_id?.Id_no}}</label>
            </div>
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">البريد الالكتروني</label>
              <label class="txt2" name="email" #email id="email">{{postData?.user_id?.email}}</label>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">المنزل</label>
              <label class="txt2" name="house_type" id="house_type">{{postData?.user_id?.house_type}}</label>
            </div>
            <div class="form-group col-md-6">
              <label class="txt1">الحالة الاجتماعية</label>
              <label class="txt2">{{postData?.user_id?.social_status}}</label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">هل لديه اطفال؟</label>
              <span class="txt2" [ngStyle]="{'color':postData?.user_id?.has_children == true ? 'green' : 'green' }"
                *ngIf="postData?.user_id?.has_children == true">نعم</span>
              <span class="txt2" [ngStyle]="{'color':postData?.user_id?.has_children == false ? 'red' : 'red' }"
                *ngIf="postData?.user_id?.has_children == false">لا</span>
            </div>
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">عدد الاطفال</label>
              <label class="txt2" name="children_no" #children_no id="children_no">{{postData?.user_id?.children_no}}</label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">هل يعمل؟ </label>
              <span class="txt2" [ngStyle]="{'color':postData?.user_id?.isWork == true ? 'green' : 'green' }"
                *ngIf="postData?.user_id?.isWork == true">نعم</span>
              <span class="txt2" [ngStyle]="{'color':postData?.user_id?.isWork == false ? 'red' : 'red' }"
                *ngIf="postData?.user_id?.isWork == false">لا</span>
            </div>
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">العمل</label>
              <label class="txt2" name="work_type" #work_type id="work_type">{{postData?.user_id?.work_type}}</label>
            </div>
          </div>
          <div class="form-row">
            <!-- <div class="form-group col-md-6">
              <label class="txt1" for="inputState">هل توجد التزامات </label>
              <span class="txt2" [ngStyle]="{'color':postData?.isObligation == true ? 'green' : 'green' }"
                *ngIf="postData?.isObligation == true">نعم</span>
              <span class="txt2" [ngStyle]="{'color':postData?.isObligation == false ? 'red' : 'red' }"
                *ngIf="postData?.isObligation == false">لا</span>
            </div> -->
            <div class="form-group col-md-12">
              <label class="txt1" for="inputState">الالتزامات</label>
              <label class="txt2" name="Total" id="Total">{{postData?.user_id?.Obligation}}</label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">الدخل</label>
              <label class="txt2" name="income" id="income">{{postData?.user_id?.income}}</label>
            </div>
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">عدد المعالين</label>
              <label class="txt2" name="number_of_dependents"
                id="number_of_dependents">{{postData?.user_id?.number_of_dependents}}</label>
            </div>

            <!-- <div class="form-group col-md-4">
              <label class="txt1" for="inputState">مبلغ الاعالة </label>
              <label class="txt2" name="benefit_no" id="benefit_no">{{postData?.benefit_no}}</label>
            </div> -->
          </div>
          <div class="form-row">
            <!-- <div class="form-group col-md-6">
              <label class="txt1" for="inputState">هل توجد التزامات </label>
              <span class="txt2" [ngStyle]="{'color':postData?.isObligation == true ? 'green' : 'green' }"
                *ngIf="postData?.isObligation == true">نعم</span>
              <span class="txt2" [ngStyle]="{'color':postData?.isObligation == false ? 'red' : 'red' }"
                *ngIf="postData?.isObligation == false">لا</span>
            </div> -->
            <div class="form-group col-md-12">
              <label class="txt1" for="inputState">الالتزامات</label>
              <label class="txt2" name="Total" id="Total">{{postData?.user_id?.Obligation}}</label>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">اسم البنك</label>
              <label class="txt2" name="Total" id="Total">{{postData?.user_id?.bank_name}}</label>
            </div>
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">رقم الحساب</label>
              <label class="txt2" name="Total" id="Total">{{postData?.user_id?.account_no}}</label>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="txt1" for="inputState">الأيبان</label>
              <label class="txt2" name="Total" id="Total">{{postData?.user_id?.iban}}</label>
            </div>
          </div>


          

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">الغرض</label>
              <label class="txt2" name="Total" id="Total">{{postData?.type?.name}}</label>
            </div>
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">المبلغ</label>
              <label class="txt2" name="Total" id="Total">{{postData?.ammount}}</label>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="txt1" for="inputState">الملاحظات</label>
              <label class="txt2" name="Total" id="Total">{{postData?.notes}}</label>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">صورة الهوية</label>
              <a href="{{postData.user_id.id_file}}" target="blank" class="txt2" name="Total" id="Total">استعراض</a>
            </div>
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">صورة الأيبان</label>
              <a href="{{postData.user_id.iban_file}}" target="blank" class="txt2" name="Total" id="Total">استعراض</a>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="txt1" for="inputState">وثائق الطلب</label>
              <a href="{{postData.other_file1}}" target="blank" class="txt2" name="Total" id="Total">استعراض</a>
            </div>
            <div class="form-group col-md-4" *ngIf="postData.other_file2 && postData.other_file2 != '' ">
              <label class="txt1" for="inputState">وثائق الطلب</label>
              <a href="{{postData.other_file2}}" target="blank" class="txt2" name="Total" id="Total">استعراض</a>
            </div>
            <div class="form-group col-md-4" *ngIf="postData.other_file3 && postData.other_file3 != '' ">
              <label class="txt1" for="inputState">وثائق الطلب</label>
              <a href="{{postData.other_file3}}" target="blank" class="txt2" name="Total" id="Total">استعراض</a>
            </div>
          </div>

          <!-- <div class="form-row">
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">الخدمة</label>
              <label class="txt2" name="Total" id="Total">{{postData?.payment_for.name}}</label>
            </div>
            <div class="form-group col-md-6">
              <label class="txt1" for="inputState">الملبغ المطلوب من الخدمة المختارة </label>
              <label class="txt2" name="payment_for_no" id="payment_for_no">{{postData?.payment_for_no}}</label>
            </div>
          </div> -->
        </form>
      </div>
    </ng-template>

    <ng-template #contentDriver let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">اختر السائق</h4>
        <button type="button" class="close" aria-label="Close" (click)="close(contentCategory)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>اختر السائق</label>
            <ng-select name="aa" [dropdownPosition]="'bottom'" class="form-control" [items]="drivers" bindLabel="name"
              bindValue="_id" placeholder="اختر السائق" [(ngModel)]="selected_driver_id" #selectedcategoryid="ngModel"
              (change)="SupplierChanging($event)" required>
            </ng-select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="SaveOrderDriver(contentDriver)">ارسال الطلب</button>
      </div>
    </ng-template>

    <ng-template #contentStatus let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">تعيل حالة الطلب</h4>
        <button type="button" class="close" aria-label="Close" (click)="close(contentCategory)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>السبب</label>
            <input type="text" placeholder="سبب الرفض" class="form-control" #_note="ngModel" [(ngModel)]="Notes"
              [ngClass]="(_note.invalid && (_note.dirty || _note.touched))?'form-control form-control-danger':'form-control'"
              name="_note" id="_note" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="Agreement(Notes,3)">حفظ المعلومات</button>
      </div>
    </ng-template>

  </nb-card-body>
</nb-card>