<nb-card>
  <nb-card-header>
    ادارة رسائل التواصل
  </nb-card-header>
  <nb-card-body>
    <toaster-container [toasterconfig]="config"></toaster-container>
    <input type='text' style='padding:8px;margin:15px auto;width:40%;' placeholder='البحث باسم المستخدم او العنوان'
      (keydown)='updateFilter($event)' />
    <ngx-datatable #myTable class="material" [rows]="rows" (page)='setPage($event)' [columnMode]="'force'" [sortType]="'multi'"
      [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [loadingIndicator]="isLoading" [scrollbarH]="false"
      [scrollbarV]="false" [virtualization]="false" [reorderable]="false" [externalPaging]="true"
      [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" [rowClass]="getRowClass"
      (page)='setPage($event)'>


      <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="txt1" for="inputState">المحتوى</label>
              <label class="txt2">{{row.message}}</label>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>


      <ngx-datatable-column [width]="20" [resizeable]="false" [sortable]="false" [draggable]="false"
      [canAutoResize]="false">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a href="javascript:void(0)" [class.datatable-icon-left]="!expanded" [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
        </a>
      </ng-template>
    </ngx-datatable-column>

      <ngx-datatable-column prop="title" name="العنوان"></ngx-datatable-column>
      <!-- <ngx-datatable-column prop="name" name="الاسم"></ngx-datatable-column> -->
      <ngx-datatable-column prop="email" name="البريد الالكتروني"></ngx-datatable-column>
      <ngx-datatable-column prop="createAt" name="التاريخ">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{value | date: 'dd-MM-yyyy'}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="الاجراءات">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <!-- <button md-icon-button class="custom-icon" (click)="onUpdate(value)">
            <i class="fa fa-edit"></i>
          </button> -->
          <button md-icon-button class="custom-icon del-icon" (click)="onDeleteConfirm(value)">
            <i class="fa fa-trash"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>