<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="title">معدل تسيجيل المستفيدين بالتطبيق</div>
        <div class="sub-title"></div>
      </nb-card-header>
      <nb-card-body>
        <div class="chart-container">
          <div class="chart-header">
            <ngx-charts-line-chart class="chart-container" [scheme]="colorScheme" [schemeType]="schemeType"
              [results]="data" [animations]="true" [legend]="false" (legendLabelClick)="onLegendLabelClick($event)"
              [gradient]="false" [xAxis]="true" [yAxis]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
              [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="true" [timeline]="false"
              [showGridLines]="true" [curve]="curves['Basis']" [rangeFillOpacity]="rangeFillOpacity"
              [roundDomains]="false" [tooltipDisabled]="false" (select)="select($event)">
            </ngx-charts-line-chart>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="title">معدل تسيجيل المتبرعين بالتطبيق</div>
        <div class="sub-title"></div>
      </nb-card-header>
      <nb-card-body>
        <div class="chart-container">
          <div class="chart-header">
            <ngx-charts-line-chart class="chart-container" [scheme]="colorScheme" [schemeType]="schemeType"
              [results]="data2" [animations]="true" [legend]="false" (legendLabelClick)="onLegendLabelClick($event)"
              [gradient]="false" [xAxis]="true" [yAxis]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
              [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="true" [timeline]="false"
              [showGridLines]="true" [curve]="curves['Basis']" [rangeFillOpacity]="rangeFillOpacity"
              [roundDomains]="false" [tooltipDisabled]="false" (select)="select($event)">
            </ngx-charts-line-chart>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>



<!-- 
  <ngx-slide-out [showVisitorsStatistics]="true">
    <ngx-visitors-statistics></ngx-visitors-statistics>
  </ngx-slide-out>
</nb-card> -->